@charset "utf-8";
@import "reset.css";
@import "variables.css";

/* components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/menu-screen.css";

/* screens */
@import "./screens/login.css";
@import "./screens/friends.css";
@import "./screens/chats.css";
@import "./screens/find.css";
@import "./screens/settings.css";
@import "./screens/more.css";
@import "./screens/chat.css";

body{max-width:500px;margin:auto;font-size:12px;line-height:12px;font-family:-apple-system,BlinkMacSystemFont,'Helvetica Neue','Apple SD Gothic Neo','Segoe UI',Roboto,Arial,'Malgun Gothic','맑은 고딕',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color:#2e363e}
.img_g{display:inline-block;width:100%;vertical-align:top}
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;color:transparent}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

.main-screen{margin-top:30px;padding:0px var(--horizontal-space)}