.screen-channel__recommended{display:flex;align-items:center;justify-content:center;height:180px;font-size:14px;opacity:.5}
.screen-channel__header a{position:relative}
.screen-channel__header a span{margin-right:15px}
.screen-channel__header .fa-solid.fa-chevron-right.fa-xs{position:absolute;top:50%;right:0}

.open-chat{padding:15px 0 40px}
.open-chat__list li{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid rgba(0,0,0,.1);}
.open-chat__list li:last-child{border:none}
.open-chat__list a{display:flex;align-items:center;justify-content:space-between}
.open-chat__tit{display:block;font-weight:normal;font-size:15px}
.open-chat__hashtags{display:block;font-size:13px;margin:7px 0;font-weight:500;opacity:.5}
.open-chat__info{display:flex;align-items:center}
.open-chat__avatar{display:inline-block;overflow:hidden;width:15px;border-radius:50%}
.open-chat__member{position:relative;margin:0 10px 0 5px;opacity:.5}
.open-chat__member::after{position:absolute;top:2px;right:-5px;width:1px;height:10px;background-color:#9f9f9f;content:'';}
.open-chat__active{font-weight:500;color:#ff69b4}
.open-chat__thumb{overflow:hidden;position:relative;width:100px;border-radius:10px}
.open-chat__thumb--like{position:absolute;bottom:6px;right:8px;padding:3px 10px;color:#f0f8ff;background-color:rgba(0,0,0,.5);border-radius:5px}