.friends-display__link{display:flex;margin-bottom:10px;padding:15px 0;font-weight:500;font-size:13px;background-color:#fafafa;align-items:center;justify-content:center}
.friends-display__link .fa-solid.fa-circle-info{margin-right:5px;opacity:.2}
.friends-display__link .fa-solid.fa-chevron-right{margin-left:8px;opacity:.2}

.friends-screen{padding:0px var(--horizontal-space)}
.friends-screen__channel{margin-top:20px;padding-top:15px;border-top:1px solid rgba(0,0,0,.1)}
.friends-screen__channel-header{display:flex;justify-content:space-between;opacity:.6}
.friends-screen__channel .fa-solid.fa-angle-up{opacity:.6}