.welcome-header{display:flex;text-align:center;align-items:center;flex-direction:column;margin:90px 0;font-weight:bold}
.welcome-header__tit{margin-bottom:20px;font-size:25px}
.welcome-header__txt{width:60%;opacity:.7}

.login-form{display:flex;flex-direction:column;margin:0 30px}
.login-form__info{margin-bottom:20px;padding-bottom:20px;border:none;border-bottom:1px solid #999;font-size:15px;transition:border-color .3s ease-in-out;}
.login-form__info:focus{border-color:var(--horizontal-space)}
.login-form__info::placeholder{color:#bbb}
.login-form__btn{height:40px;margin:10px 5px 0 5px;border:none;font-size:15px;background-color:var(--horizontal-space);border-radius:5px;cursor:pointer}
.login-form__btn[value="Sign up"]{margin-bottom:20px}
.login-form__link{display:block;font-weight:500;text-align:center;text-decoration:none;color:#222}

.welcome-footer{position:absolute;left:50%;padding:15px 10px;bottom:0;transform:translateX(-50%)}
.welcome-footer__txt{font-weight:normal;font-size:14px}