.suggestions-screen{margin-top:20px;border-top:1px solid rgba(0,0,0,.1)}
.suggestions-screen__tit{padding:20px 0;font-weight:bold}
.suggestions-screen .wrap_thumb{overflow:hidden;border-radius:5px}
.suggestions-screen .txt_gray{color:rgba(0,0,0,.5)}
