.status-bar{display:flex;position:fixed;top:0;width:100%;padding:5px 3px;justify-content:center;box-sizing:border-box}
.status-bar__column{width:33%}
.status-bar__column:first-child span{margin-right:5px}
.status-bar__column:nth-child(2){display:flex;justify-content:center}
.status-bar__column:last-child{display:flex;align-items:center;justify-content:flex-end}
.status-bar__column .fas.fa-battery-full{margin:0 5px}