.user-component__column{display:flex;width:100%;align-items:center}
.user-component__photo{width:50px;border-radius:30%}
.user-component__photo--xl{width:70px;border-radius:30%}
.user-component__txt,.channel-component__txt{margin-left:12px}
.user-component__tit{font-weight:600;font-size:18px}
/* .user-component__subtit{margin-top:10px;font-size:13px;color:rgba(0,0,0,.5)} */