.user-component{display:flex;margin:20px 0;justify-content:space-between}
.user-component__column{display:flex;align-items:center}
.user-component__photo{width:50px;border-radius:30%}
.user-component__photo--xl{width:70px;border-radius:30%}
.user-component__txt{margin-left:12px}
.user-component__tit{font-weight:600;font-size:18px}
.user-component__subtit{display:inline-flex;margin:10px 5px 0 0;font-size:13px;color:rgba(0,0,0,.5)}